.root{
    -fx-background-color: rgb(63, 125, 34);
    -fx-text-alignment: top-left;
    -fx-focus-color: transparent;
}

.terminal{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(0,50,0);
}

.box-right{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(0,50,0);
    -fx-spacing: 2;
    -fx-padding: 2;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-min-width: 300;
    -fx-max-width: 300;
    -fx-max-height: 130;
    -fx-min-height: 130;
    -fx-translate-y: -10;
    -fx-focus-color: transparent;
}

.box-right .content{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-color: rgb(255, 255, 255);
}

.box-right:focused .content{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-color: rgb(255, 255, 255);
}

.box-bot{
    -fx-padding: 0;
    -fx-spacing: 0;
    -fx-background-color: rgb(255, 255, 255);
    -fx-alignment: top-left;
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-border-color: rgb(0,50,0);
    -fx-min-height: 135;
    -fx-max-height: 135;
    -fx-translate-y: -15;
}

.text-area-terminal{
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: rgb(255, 255, 255);
    -fx-spacing: 2;
    -fx-max-width: 868;
    -fx-min-width: 868;
    -fx-min-height: 90;
    -fx-max-height: 90;
    -fx-translate-x: 2;
}

.text-right{
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: rgb(255, 255, 255);
    -fx-spacing: 0;
    -fx-min-width: 270;
    -fx-max-width: 280;
    -fx-max-height: 100;
    -fx-min-height: 100;
    -fx-translate-y: -10;
}

.text-area .content {
    -fx-background-color: rgb(255, 255, 255);
}

.text-area:focused .content {
    -fx-background-color: rgb(255, 255, 255);
}

.canvas{
    -fx-max-height: 411;
    -fx-min-height: 411;
    -fx-pref-width: 10;
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(0,50,0);
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-spacing: 10;
    -fx-translate-y: -10;
}

.title {
    -fx-alignment: center;
    -fx-background-color: rgb(0,50,0);
    -fx-font-family: Verdana;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-highlight-text-fill: white;
    -fx-padding: 5;
}

.label {
    -fx-alignment: center-left;
    -fx-text-fill: black;
    -fx-font-family: Verdana;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 2;
}

.pane-right {
    -fx-alignment: top-left;
    -fx-padding: 15;
    -fx-vgap: 10;
}

.pane-bot{
    -fx-alignment: center;
    -fx-padding: 15;
    -fx-hgap: 10;
}

.run-button {
    -fx-pref-width: 100;
    -fx-pref-height: 20;
    -fx-alignment: center;
    -fx-translate-x: 750;
    -fx-translate-y: -30;
}

.load-button{
    -fx-pref-width: 250;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-translate-x: 20;
    -fx-focus-color: transparent;
    -fx-border-color: rgb(255, 255, 255);
}

.label-command{
    -fx-alignment: center-left;
    -fx-text-fill: black;
    -fx-font-family: Verdana;
    -fx-font-size: 10;
    -fx-font-weight: 100;
}

.color-picker{
    -fx-pref-width: 250;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-translate-x: 20;
    -fx-focus-color: transparent;
    -fx-border-color: rgb(255, 255, 255);
    -fx-translate-y: 10;
}